body, main {
	margin: 0;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

section, .panel {
	display: flex;
}

section {
	justify-content: space-between;
}

.panel {
	flex-direction: column;
	width: 49%;
}

.panel * {
	width: inherit;
}

.panel select {
	margin: 10px;
}

.section-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-button * {
	margin: 0 50px;
	padding: 10px 30px;
}

.user {
  display: none;
}

.recap {
  display: none;
}

.equipment {
  display: block;
}