@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, main {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/**
 * Header style
 **/

header {
	display: flex;
	align-items: center;
	box-shadow: 0px -2px 14px #000000;
}

header a {
	text-decoration: none;
	color: black;
}

header div {
	margin: 22px 55px;
	display: flex;
	align-items: center;
}

header div:hover {
	cursor: pointer;
}

header nav {
	margin-right: auto;
}

header nav a {
	margin: 0 16px;
	color: #505050;
}

header nav a:hover, header nav a.active {
	color: black;
}

header div img {
	margin: 0 10px;
}

div.disconnect img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

div.disconnect:hover > img {
    -webkit-filter: hue-rotate(160deg);
    filter: invert(14%) sepia(72%) saturate(4825%) hue-rotate(355deg) brightness(109%) contrast(126%);
}

.disconnect:hover a {
	color: red;
}

/**
 * Main style
 **/
 
 main {
 	padding: 66px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 }
 
 
 
 
 