:root {
  --main-bg-color: rgb(149, 189, 213);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

nav{
  width: 30%;
  background-color: white;
  position: sticky;
  top: 0px;
}

nav ul{
  list-style-type: none;
  padding-inline-start: 0;
}

nav ul li{
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover{
  color: #95bcd5;
  border-bottom: 2px solid #95bcd5;
}

.child{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
nav > ul li:hover .child{
  display: block;
}
.child li{
  float: none;
  width: 100%;
  text-align: left;
}
.child a{
  border-bottom: none;
}
.child a:hover{
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}
.dropdown > a::after{
  content:" ▼";
  font-size: 12px;
}

#navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  background-color: white;
}

#centralContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  height: 100%;

}

#welcomeMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: fit-content;
  width: 40%;
  color: white;
  background-color :RGBa(0,0,0,0.5); ;
  border-radius: 5px;
}