<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Kiloutou</display-name>
  
  <servlet>
	<display-name>Login</display-name>
	<servlet-name>Login</servlet-name>
	<servlet-class>controller.Main</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.auth.Logout</servlet-class>
    </servlet>
    
    
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  

  <servlet>
	<display-name>Welcome</display-name>
	<servlet-name>Welcome</servlet-name>
	<servlet-class>controller.auth.Welcome</servlet-class>
  </servlet>
  
  <servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
  </servlet-mapping>

  <servlet>
	<display-name>AddUser</display-name>
	<servlet-name>AddUser</servlet-name>
	<servlet-class>controller.user.AddUserController</servlet-class>
  </servlet>
  
  <servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/user/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>ModifyUser</display-name>
    <servlet-name>ModifyUser</servlet-name>
    <servlet-class>controller.user.ModifyUserController</servlet-class>
  </servlet>
    
  <servlet-mapping>
    <servlet-name>ModifyUser</servlet-name>
    <url-pattern>/user/modify</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>controller.user.DeleteUserController</servlet-class>
  </servlet>
    
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/user/delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>InfoUser</display-name>
    <servlet-name>InfoUser</servlet-name>
    <servlet-class>controller.user.InfoUserController</servlet-class>
  </servlet>
    
  <servlet-mapping>
    <servlet-name>InfoUser</servlet-name>
    <url-pattern>/user/info</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>controller.user.ResetPassword</servlet-class>
  </servlet>
    
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/user/resetPassword</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>SearchUser</display-name>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>controller.user.SearchUserController</servlet-class>
  </servlet>
    
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/user/search</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>AddEquipment</display-name>
    <servlet-name>AddEquipment</servlet-name>
    <servlet-class>controller.equipment.AddEquipmentController</servlet-class>
  </servlet>
  
  <servlet-mapping>
		<servlet-name>AddEquipment</servlet-name>
		<url-pattern>/equipment/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>ModifyEquipment</display-name>
    <servlet-name>ModifyEquipment</servlet-name>
    <servlet-class>controller.equipment.ModifyEquipmentController</servlet-class>
  </servlet>
    
  <servlet-mapping>
    <servlet-name>ModifyEquipment</servlet-name>
    <url-pattern>/equipment/modify</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>SearchEquipment</display-name>
    <servlet-name>SearchEquipment</servlet-name>
    <servlet-class>controller.equipment.SearchEquipmentController</servlet-class>
  </servlet>
    
  <servlet-mapping>
    <servlet-name>SearchEquipment</servlet-name>
    <url-pattern>/equipment/search</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>InfoEquipment</display-name>
    <servlet-name>InfoEquipment</servlet-name>
    <servlet-class>controller.equipment.InfoEquipmentController</servlet-class>
  </servlet>
    
  <servlet-mapping>
    <servlet-name>InfoEquipment</servlet-name>
    <url-pattern>/equipment/info</url-pattern>
  </servlet-mapping>


  <servlet>
    <display-name>Error</display-name>
    <servlet-name>Error</servlet-name>
    <servlet-class>controller.ErrorController</servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>Error</servlet-name>
      <url-pattern>/error</url-pattern>
    </servlet-mapping>
  
  
	
  <servlet>
    <display-name>AddLoan</display-name>
    <servlet-name>AddLoan</servlet-name>
    <servlet-class>controller.loan.AddLoanController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>AddLoan</servlet-name>
	 <url-pattern>/loan/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>ModifyLoan</display-name>
    <servlet-name>ModifyLoan</servlet-name>
    <servlet-class>controller.loan.ModifyLoanController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>ModifyLoan</servlet-name>
	 <url-pattern>/loan/modify</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>ListAllLoan</display-name>
    <servlet-name>ListAllLoan</servlet-name>
    <servlet-class>controller.loan.ListAllLoan</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>ListAllLoan</servlet-name>
	 <url-pattern>/loan/all</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>SearchLoan</display-name>
    <servlet-name>SearchLoan</servlet-name>
    <servlet-class>controller.loan.SearchLoanController</servlet-class>
  </servlet>
  
  <servlet-mapping>
		<servlet-name>SearchLoan</servlet-name>
		<url-pattern>/loan/search</url-pattern>
  </servlet-mapping>


  <servlet>
    <display-name>InfoLoan</display-name>
    <servlet-name>InfoLoan</servlet-name>
    <servlet-class>controller.loan.InfoLoanController</servlet-class>
  </servlet>
  
  <servlet-mapping>
		<servlet-name>InfoLoan</servlet-name>
		<url-pattern>/loan/info</url-pattern>
  </servlet-mapping>


  <!-- list equipments -->

  <servlet>
    <display-name>ListOthers</display-name>
    <servlet-name>ListOthers</servlet-name>
    <servlet-class>controller.equipment.list.ListOtherController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>ListOthers</servlet-name>
	 <url-pattern>/loan/list/others</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>ListVehicles</display-name>
    <servlet-name>ListVehicles</servlet-name>
    <servlet-class>controller.equipment.list.ListVehiclesController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>ListVehicles</servlet-name>
	 <url-pattern>/loan/list/vehicles</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>ListVehicleAccessories</display-name>
    <servlet-name>ListVehicleAccessories</servlet-name>
    <servlet-class>controller.equipment.list.ListVehicleAccessoriesController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>ListVehicleAccessories</servlet-name>
	 <url-pattern>/loan/list/vehicleAccessories</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>ListComputers</display-name>
    <servlet-name>ListComputers</servlet-name>
    <servlet-class>controller.equipment.list.ListComputersController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>ListComputers</servlet-name>
	 <url-pattern>/loan/list/computers</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>ListComputerAccessories</display-name>
    <servlet-name>ListComputerAccessories</servlet-name>
    <servlet-class>controller.equipment.list.ListComputerAccessoriesController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>ListComputerAccessories</servlet-name>
	 <url-pattern>/loan/list/computerAccessories</url-pattern>
  </servlet-mapping>


  <!-- get equipment -->
  <servlet>
    <display-name>GetOther</display-name>
    <servlet-name>GetOther</servlet-name>
    <servlet-class>controller.equipment.get.GetOtherController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>GetOther</servlet-name>
	 <url-pattern>/loan/get/others</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>GetComputer</display-name>
    <servlet-name>GetComputer</servlet-name>
    <servlet-class>controller.equipment.get.GetComputerController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>GetComputer</servlet-name>
	 <url-pattern>/loan/get/computers</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>GetComputerAccessory</display-name>
    <servlet-name>GetComputerAccessory</servlet-name>
    <servlet-class>controller.equipment.get.GetComputerAccessoryController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>GetComputerAccessory</servlet-name>
	 <url-pattern>/loan/get/computerAccessories</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>GetVehicle</display-name>
    <servlet-name>GetVehicle</servlet-name>
    <servlet-class>controller.equipment.get.GetVehicleController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>GetVehicle</servlet-name>
	 <url-pattern>/loan/get/vehicles</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>GetVehicleAccessory</display-name>
    <servlet-name>GetVehicleAccessory</servlet-name>
    <servlet-class>controller.equipment.get.GetVehicleAccessoryController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>GetVehicleAccessory</servlet-name>
	 <url-pattern>/loan/get/vehicleAccessories</url-pattern>
  </servlet-mapping>

  <!-- stats -->
  <servlet>
    <display-name>Stats</display-name>
    <servlet-name>Stats</servlet-name>
    <servlet-class>controller.stats.StatisticController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	 <servlet-name>Stats</servlet-name>
	 <url-pattern>/stats/statistics</url-pattern>
  </servlet-mapping>

  <servlet>
     <description>Servlet fournissant les images</description>
     <display-name>ImageServlet</display-name>
     <servlet-name>ImageServlet</servlet-name>
     <servlet-class>resources.ImageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>ImageServlet</servlet-name>
     <url-pattern>/images/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
	 <servlet-name>default</servlet-name>
	 <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
	 <servlet-name>default</servlet-name>
	 <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
	<welcome-file>view/auth/login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>